<aside class="sidebar" role="complementary">
  <div class="author">

    <img class="author__image" src="http://cdn.whyalix.com/images/alexandra_lucas.jpg" alt="{{ site.title }}" />
    <h1 class="author__name">{{ site.title }}</h1>
    <p class="author__description">{{ site.description }}</p>

    <ul class='author__contact'>
      {% for social in site.data.social %}
      <li>
        <a target="_blank" href="{{ social.url }}" class="author__{{ social.name }}">
          <span class="zocial-{{ social.name }}"></span>
        </a>
      </li>
      {% endfor %}
    </ul>

  </div>

  <ul class="filters">
    <li data-filter="*">All albums</li>
    {% for album in site.data.albums %}
    <li data-filter="[data-album*='{{ album }}']" class="album-name">{{ album|capitalize }}</li>
    {% endfor %}
  </ul>
</aside>